 <%= form_tag('/client') do -%>
<div class="field">

    <%= text_field_tag "name" %><br/>
		<%= text_field_tag "address" %><br/>
		<%= text_field_tag "contact" %><br/>
  </div> 
    <div><%= submit_tag 'Save' %></div>
 <% end -%>


