<h1>Client#index</h1>


<table>
  <tr>
    <th>Client name</th>
    <th>Address</th>
    <th>Mobile</th>
    <th></th>

  </tr>

<% @clients.each do |f| %>
  <tr>
    <td><%= f.client_name %></td>
    <td><%= f.client_address %></td>
    <td><%= f.client_contact %></td>
    <td><%= link_to 'Show', "/client/#{f.id}" %>|  <%= link_to 'Delete', client_path(f.id),:method=>:delete,:confirm => 'Are you sure?'%></td>
  </tr>
<% end %>
<p><%= link_to 'New', "/client/new" %></p>
</table>



